body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 10px;
}

h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.project {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.about{
    size: 50px;
}

.centered-heading {
    text-align: center;
    margin-bottom: 3px;